<p>
  course works!
</p>
<div>
    <div>
      <table>
        <tr>
          <td class="td"><img src="../assets/images/machine.jpg"></td>
          <td class="td"><img src="../assets/images/android.png"></td>
          <td class="td"><img src="../assets/images/python.jpg"></td>
        </tr>
      <br><br><br>
        <tr>
            <td class="td"><img src="../assets/images/java.png"></td>
            <td class="td"><img src="../assets/images/js.png"></td>
            <td class="td"><img src="../assets/images/angular.png"></td>
          </tr>
          
      </table>
    </div>
  </div>>
  
